body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

img {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.header-page {
    border-bottom: 1px solid #e7e9fc;
    width: 1440px;
    height: 72px;
    display: flex;
}

.container-page-header {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo .span-logo {
    color: #2e2f42;
}

.nav-page {
    display: flex;
    align-items: center;
}

.nav-page-ul {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-page {
    font-style: normal;
}

.address-page-ul {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.section-first {
    background-color: #2e2f42;
    padding: 188px 0;
}

.section-first-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.section-first-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: auto;
}
.section-first-button:hover,
.section-first-button:focus {
    background-color: #404bbf;
}

.section-second {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.section-second-ul {
    display: flex;
    gap: 24px;
}

.section-second-list {
    width: calc((100%-72px)/4);
}

.section-second-tone {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-second-pone {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-third {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.section-third-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-third-ul {
    display: flex;
    gap: 24px;
}

.section-third-list {
    background-color: #ffffff;
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
}

.people-container {
    padding-top: 32px; 
    padding-bottom: 32px; 
    padding-left: 16px; 
    padding-right: 16px;
}

.section-third-tone {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.section-third-pone {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.section-forth {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-forth-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-forth-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.section-forth-list {
    width: calc((100% - 48px) / 3);
}

.app-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.section-forth-tone {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.section-forth-pone {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.footer-page {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;

}

.footer-logo .span-logo {
    color: #f4f4fd;
}

.footer-pone {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}